/* font styleの指定はこのファイルでしてね！！ */

/* fonts */
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:300,400,500,700|Roboto+Slab:300,400,500,700&display=swap");

body,
button,
input,
select,
textarea {
  font-family: "Roboto Slab", "M PLUS 1p";
  font-weight: 300;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

/* link styles */
a {
  text-decoration: none;
  color: yellowgreen;
}
a:hover {
  /*opacity: 0.8;*/
}

/* header styles */
h1,
h2,
h3 {
  margin: 0 0 1rem;
  text-align: center;
  font-weight: 400;
}
th {
  font-weight: 500;
}

/* pagination styles */
.pg-container {
  display: flex;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 800;
}
.pg-item {
  background: white;
  border-radius: 0.3rem;
  width: 2rem;
  height: 2rem;
  margin: 0 0.3rem;
  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
}
.pg-link {
  color: rgb(155, 194, 207);
}
